:root {
    /*base UI colours*/
    --background-primary: #2d2d2d;
    --background-secondary: #2d2d2d;
    --background-tertiary: #666666;
    
    --content-primary: #eeeeee;
    --content-secondary: #bbbbbb;
    --content-disabled: #777777;
    
    --accent-primary: #7d4696;
    --accent-secondary: #522e63;
    --accent-disabled: #b797c6;
    
    /*base PnID state colours*/
    --pnid-outline: #4e99fc;
    
    --open: #00aeff;
    --closed: orange;
    --undefined: gray;
    --high: red;
    --low: #00aeff;
    --neutral: green;

    --fuel: chocolate;
    --ox: #3e87a1;
    
    --on: orange;
    --powered: #601a00;
    
    /*derived variables*/
    --default-stroke: var(--content-primary);
    --slider-text: var(--content-primary);
}

img 
{
    filter: invert(100%);
}

.tab-button, .tab-button:hover
{
    color: white;
}

#statusBar
{
    background-color: orange !important;
    color: black;
}

#sequenceChart g
{
    fill: white;
}