:root {
    /*base UI colours*/
    --background-primary: #232323;
    --background-secondary: #363636;
    --background-tertiary: #666666;
    
    --content-primary: #eeeeee;
    --content-secondary: #bbbbbb;
    --content-disabled: #777777;
    
    --accent-primary: #633878;
    --accent-secondary: #522e63;
    --accent-hover: #76438f;
    --accent-active: var(--accent-hover);
    --accent-disabled: #b797c6;

    --warning-color: orange;
    --error-color: #ff4040;
    --success-color: #33cc33;

    --debug: #fbff00;
    
    /*base PnID state colours*/
    --pnid-outline: #4e99fc;
    
    --open: #00aeff;
    --closed: orange;
    --undefined: gray;
    --high: #ff4040;
    --mid: #ffc004;
    --low: #00aeff;
    --super-low: #58f6fc;
    --neutral: #33cc33;

    --battery-charging: #00aeff;
    --battery-high: orange;
    --battery-nominal: #33cc33;
    --battery-low: orange;
    --battery-critical: #ff4040;

    --medium-letters: 12rem;
    --big-letters: 24rem;

    --high-water-tank: black;
    --mid-water-tank: black;
    --low-water-tank: black;
    --neutral-water-tank: white;

    --fuel: chocolate;
    --ox: #3e87a1;
    
    --on: orange;
    --powered: #601a00;

    --flowchart-state-good: #33cc33;
    --flowchart-state-bad: orange;
    --flowchart-state-unknown: #ff4040;
    
    /*derived variables*/
    --default-stroke: var(--content-primary);
    --accented-text: var(--content-primary);
}
